@model GamersWorld.WebApp.Models.ReportViewModel
@{
    ViewData["Title"] = "Requested Reports";
}

<input type="hidden" id="employeeId" value="@Model.EmployeeId" />

<h2>Requested Reports</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Report Title</th>
            <th>Arrived Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Reports != null)
        {
            @foreach (var report in Model.Reports)
            {
                <tr>
                    <td>@report.Id</td>
                    <td>@report.Title</td>
                    <td>@report.InsertTime</td>
                    <td>
                        <a href="@Url.Action("Download", "Reports", new { documentId = report.DocumentId })" class="btn btn-primary">Download</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    <partial name="_NotificationPopup" />
</div>
