@model IEnumerable<GamersWorld.Domain.Data.ReportDocument>

@{
    ViewData["Title"] = "Requested Reports";
}

<h2>Requested Reports</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Trace Id</th>
            <th>Employee Id</th>
            <th>Document Id</th>
            <th>Insert Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
                <tr>
                    <td>@report.Id</td>
                    <td>@report.TraceId</td>
                    <td>@report.EmployeeId</td>
                    <td>@report.DocumentId</td>
                    <td>@report.InsertTime</td>
                    <td>
                        <a href="@Url.Action("Download", "Reports", new { documentId = report.DocumentId })" class="btn btn-primary">Download</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
