@model GamersWorld.WebApp.Models.ReportRequestModel
@{
    ViewData["Title"] = "Report Request";
}

<h2>Report Request Form</h2>
<form asp-action="SubmitReport" method="post" class="needs-validation" novalidate>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <p class="form-control-plaintext">@Model.Owner.ToString()</p>
    </div>

    <input type="hidden" id="employeeId" value="@Model.Owner.EmployeeId" />
    <input type="hidden" asp-for="Owner.FullName" />
    <input type="hidden" asp-for="Owner.EmployeeId" />
    <input type="hidden" asp-for="Owner.Title" />

    <div class="mb-3">
        <label asp-for="ReportTitle" class="form-label"></label>
        <input asp-for="ReportTitle" class="form-control" required />
        <div asp-validation-for="ReportTitle" class="text-danger"></div>
        <div class="invalid-feedback">
            A brief description describing the report is required.
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Expression" class="form-label"></label>
        <input asp-for="Expression" class="form-control" required />
        <div asp-validation-for="Expression" class="text-danger"></div>
        <div class="invalid-feedback">
            Type the required query for your report.
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Lifetime" class="form-label"></label>
        <select asp-for="Lifetime" class="form-control" required>
            @foreach (var lifetime in Enum.GetValues(typeof(GamersWorld.Domain.Enums.Lifetime)))
            {
                <option value="@lifetime">@lifetime</option>
            }
        </select>
        <div asp-validation-for="Lifetime" class="text-danger"></div>
        <div class="invalid-feedback">
            Please choose a lifetime.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    <partial name="_NotificationPopup" />
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var token = '@ViewBag.JWToken';
            var employeeId = '@ViewBag.EmployeeId';
            if (token) {
                sessionStorage.setItem('JWToken', token);
            }
            if (employeeId) {
                sessionStorage.setItem('EmployeeId', employeeId);
            }
        });
    </script>
}